.navbar-top{
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all ease 0.5s;



    .section-1{
        background-color: #120e4b;
        height: 60px;

        .search{
            width: 40%;
            border-radius: 1.5px;
            background-color: white;
            margin: 130px 0 100px;
            padding: 3px;
            display: flex;
    
            input{
                outline: none;
                border: none;
                width: 100%;
            }
            span{
                cursor: pointer;
            }
        }

        .nav-link{
            position: relative;

            .status{
                position: absolute;
                background-color: red;
                color: white;
                font-weight: 500;
                text-align: center;
                vertical-align: middle;
                width: 18px;
                height: 18px;
                padding-top: 2px;
                font-size: 10px;
                border-radius: 50%;
                right: -5px;
                top: -10px;
            }
        }
    }

    .logo {
        max-width: 100%;
        height: 40px;
        font-family: Roboto,Arial,sans-serif;
        font-weight: 800;
        font-size: 16px;
        color: white;

        @media screen and (max-width: 350px) {
            font-size: 15px;
        }

        img{
            width: 30px;
            @media screen and (max-width: 350px) {
                width: 21px;
            }
        }
    }
    
    .link-box {
        text-decoration: none;
        font-weight: 600;
        .aside-link{
            text-transform: uppercase;
            color: #000000;
            padding: 0px 15px;
            font-size: 13px;
            &:hover{
                color: #487FCC;
            }
        }
    }

    .link-box.active{
        .aside-link{
            color: #386CB5;
            font-weight: 700 !important;
        }
    }


    .icons{
        font-size: 20px !important;
        height: 32px;
    }

    .right-icons{    
        a>svg, span>svg{
            margin: auto;
            display: block;
        }
    }
    
    .aside-icon{
        display: none;
    }

    .login-btn{
        a{
            outline: none;
            text-decoration: none;
            text-transform: uppercase;
            border: none;
            background-color: #31c3e8;            
            color: white;
            border-radius: 2px;
            padding: 5px 20px 5px 20px;
            font-weight: 600;
            font-size: 13.5px;
        }
    }
    
    .navbar{
        @media screen and (max-width: 992px) {
            position: fixed;
            align-items: start;
            justify-content: flex-start;
            top:0;
            left: 0;
            height: 100%;
            width: 250px;
            flex-direction: column;
            background-color: white;
            transition: all ease-in 0.5s;

            .link-box{
                text-decoration: none;
                display: flex;
                color: #7E84A3;
                width: 100%;

                .aside-link{
                    font-size: 13.5px;
                    padding: 10px 15px;
                }
    
                .aside-icon {
                    color: #7E84A3;
                    display: inline;
                    font-size: 20px;
                    padding-right: 10px;
                    img{
                        width: 20px;
                        filter: invert(61%) sepia(9%) saturate(920%) hue-rotate(193deg) brightness(85%) contrast(93%);
                        opacity: 0.7;
                    }
                }
    
                &:hover{
                    background-color: #F2F7FF;
                    color: black !important;
                }
            }
    
            .link-box.active{
                color: #386CB5;
                background-color: #F2F7FF;

                &::before{
                    content: "\00a0";
                    display: inline-block;
                    background-color: #487FCC;
                    width: 5px;
         
                }

                .aside-link{
                    font-weight: 700 !important;
                }
                
                .aside-icon {
                    color: #000000;
                    font-size: 20px;
                    padding-right: 10px;
                    img{
                        width: 20px;
                        filter: invert(1) ;
                    }
                }
            }
        }

        >div{
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
}