.reset-password-container{
    background-color: #f4f4f4;
    min-height: calc(100%);
    padding-top: 40px;
    text-align: center;

    .logo {
        max-width: 100%;
        height: 40px;
        font-family: Roboto,Arial,sans-serif;
        font-weight: 800;
        font-size: 18px;

        @media screen and (max-width: 350px) {
            font-size: 15px;
        }

        img{
            width: 30px;
            @media screen and (max-width: 350px) {
                width: 21px;
            }
        }
    }

    .reset-password-form{
        width: 400px;

        @media screen and (max-width: 450px) {
            width: 95%;
        }

        .form{
            padding: 20px;
            background-color: white;
            text-align: left;

            .form-text{
                font-size: 14px;
                margin-bottom: 10px;
            }
            
            .heading{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;

            }
            
            .submit-btn{
                button{
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: #31c3e8;            
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 8px 0;
                    margin-top: 10px;

                    &:disabled{
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}